body{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
width: 87%;
border: 15px solid rgb(40, 136, 173);
padding: 50px;
margin: 20px;

}

body{
background-image: url("https://media.gettyimages.com/photos/wood-table-with-blur-light-in-night-caferestaurant-background-picture-id683388474?b=1&k=6&m=683388474&s=612x612&w=0&h=xd9A1v91tUdQphU2G2ETl91PVo4c3Kpo4Xnk-4mD_pc=");
background-repeat: no-repeat;
background-size: cover;
background-color: #ffffff;
color: black;
}

body h1{
    text-align: center;
}

body h3{
    text-align: center;
}

nav p a{
    text-decoration: none;
    color: black;
    background-color: white;

}

#introductie{
    text-align: center;
    font-size: 18px;
}

#introductie h1{
   color: rgb(247, 111, 0);
}

#container {
    width: 100%;
    height: 85%;
    
}

#boven {
    width: 100%;
    height: 50%;
}

#boven h1{
    color: rgb(247, 111, 0);
}

#onder {
    padding-top: 20px;
    width: 80%;
    height: 50%;
    display: flex;
}

#gegevens{
    width: 30%;
    height: 100%;
    margin: 50px;
    border-right: 8px dotted rgb(247, 111, 0);
    border-left: 8px dotted rgb(247, 111, 0);
    text-align: center;
    font-size: 18px;
}

#gegevens h1{
    color: rgb(247, 111, 0);
}

#plaatje{
    width: 10%;
    height: 100%;
    margin-left: 300px;
}

#openingstijden{
    width: 380px;
    padding: 12px;
    border-right: 8px dotted rgb(247, 111, 0);
    border-left: 8px dotted rgb(247, 111, 0);
    text-align: center;
    font-size: 18px;
}

#openingstijden h2{
    color:rgb(247, 111, 0);
}

#reserveren{
    text-align: center;
    font-size: 18px;
    width: 1075px;
    padding: 12px;
    border-right: 8px dotted rgb(247, 111, 0);
    border-left: 8px dotted rgb(247, 111, 0);
}

#reserveren h1{
    color: rgb(247, 111, 0);
}

#info{
    text-align: center;
    font-size: 18px;
    width: 1075px;
    padding: 12px;
    border-right: 8px dotted rgb(247, 111, 0);
    border-left: 8px dotted rgb(247, 111, 0);
}

#info h1{
    color: rgb(247, 111, 0);
}

#sites{
    font-size: 18px;
    width: 1075px;
    padding: 12px;
    border-right: 8px dotted rgb(247, 111, 0);
    border-left: 8px dotted rgb(247, 111, 0);
    text-align: center;
}

#sites h1{
    color: rgb(247, 111, 0);
}

#sites li{
    text-align: left;
}

#menu{
    text-align: center;
    margin-left: 32px;
    font-size: 18px;
    width: 1000px;
    padding: 12px;
    border-right: 8px dotted rgb(247, 111, 0);
    border-left: 8px dotted rgb(247, 111, 0);
}

#menu h1{
    color: rgb(247, 111, 0);
}



nav {
    text-align: left;
    width: 100%;
    height: 60px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;

}

nav p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 24px;
    line-height: 20px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;

}

nav ul li {
    float: left;
    list-style: none;
    Position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    padding: 22px 14px;
    text-decoration: none;
    line-height: 20px;
}

#sites a:link{
    color: rgb(247, 111, 0);
}

#sites a:visited{
    color: rgb(247, 111, 0)
}

#sites a:hover{
    color: rgb(40, 136, 173);
}

#sites a:active{
    color: rgb(145, 11, 11);
}

ul a:hover {
    background-color: none;
    padding: 12px 25px;
}