html,body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #ABCABC;
}

#boven {
    background-color: red;
    width: 80%;
    height: 15%;
}

#container {
    background-color: green;
    width: 80%;
    height: 75%;
    display: flex;
}

#menu {
    background-color: yellow;
    width: 20%;
    height: 100%;
}

#items {
    background-color: indianred;
    width: 60%;
    height: 100%;
}

#fotos {
    background-color: pink;
    width: 19%;
    height: 100%;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

ul a {
    background-color: blue;
    display: block;
    text-decoration: none;
    text-align: right;
    color: white;
    margin-top: 4px;
    padding: 20px;
}

ul a:hover {
    background-color: black;
}

.bericht {
    background-color: whitesmoke;
    width: 80%;
    margin-left: 10%;
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

#tacktiek1 {
    background-color: grey;
    width:100%
}

.tekstvak {
    background-color: whitesmoke;
    width: 80%;
    margin-left: 5%;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

.fotovak {
    width: 80%;
    height: 50px;
    margin-left: 5%;
    background-image: url(/vwo4les-master/plaatjes/graphene.jpg);
    background-position: center;
}