html,body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #ABCABC;
}

#boven {
    background-color: red;
    width: 90%;
    height: 15%;
}

#container {
    background-color: green;
    width: 90%;
    height: 75%;
    display: flex;
}

#menu {
    background-color: yellow;
    width: 15%;
    height: 100%;
}

#items {
    background-color: indianred;
    width: 60%;
    height: 100%;
}

#fotos {
    background-color: pink;
    width: 25%;
    height: 100%;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

ul a {
    background-color: blue;
    display: block;
    text-decoration: none;
    text-align: right;
    color: white;
    margin-top: 4px;
    padding: 20px;
}

ul a:hover {
    background-color: black;
}

.bericht {
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    border: 5px solid black;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 10px;
}

.tacktiek1 {
    background-image: url(../plaatjes/i0.png);
    background-size: 100%;
    height: 175px;
    width:100%
}

.tacktiek2 {
    background-color: grey;
}

.tacktiek2 img{
    width: 100%;
}
